services:
 ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - models:/root/.ollama/models
    restart: unless-stopped 

volumes:
  models: